extends layout

block content
  h1#id_name= title
  //- p.titolo applico la classe titolo del css
  p.titolo Welcome to #{username}
  p titolo1 
  p.titolo titolo2 
  p titolo 3
  a(href=`${link}`)#{number}
